<a href="https://colab.research.google.com/github/Sonhyungmin/itda_study1/blob/main/%EB%B0%B1%EC%A4%80_9%EB%8B%A8%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1번

In [5]:
n = int(input())
number = map(int, input().split())
main_num = 0
for num in number:
    error = 0
    if num > 1 :
        for i in range(2, num):  # 2부터 n-1까지
            if num % i == 0:
                error += 1  # 2부터 n-1까지 나눈 몫이 0이면 error가 증가
        if error == 0:
            main_num += 1  # error가 없으면 소수.
print(main_num)

4
1 3 5 7
3

#2번

In [11]:
M = int(input())
N = int(input())
sosu = []
for num in range(M, N+1):
  error = 0
  if num>1:
    for i in range(2, num):
      if num % i == 0:
        error += 1
        break
    if error == 0:
      sosu.append(num)

if len(sosu) > 0 :
    print(sum(sosu))
    print(min(sosu))
else:
    print(-1)

60
100

TypeError: ignored

In [10]:
M = int(input())
N = int(input())
sosu = []
for num in range(M, N+1):
  error = 0
  if num>1:
    for i in range(2, num):
      if num % i == 0:
        error += 1
        break
    if error == 0:
      sosu.append(num)
sum=0
for j in range(len(sosu)):
  sum += int(sosu[j])
if len(sosu) > 0 :
    print(sum)
    print(sosu[0])
else:
    print(-1)

60
100
620
61

#3번

In [12]:
N = int(input())
if N == 1:
  print('')
for i in range(2, N+1):
  if N % i == 0:
    while N % i == 0:
      print(i)
      N = N / i

72
2
2
2
3
3

#4번

In [15]:
M ,N = map(int, input().split())
for num in range(M, N+1):
  error = 0
  if num>1:
    for i in range(2, num):
      if num % i == 0:
        error += 1
        break
    if error == 0:
      print(num)

3 16
3
5
7
11
13

In [24]:
M ,N = map(int, input().split())
for num in range(M, N+1):
  if num>1:
    for i in range(2, num):
      if num % i == 0:
        break
    if num % i != 0:
      print(num)

3 16
3
5
7
11
13

In [31]:
def sosu(num):
    if num==1:
        return False
    else:
        for i in range(2, int(num**0.5)+1):
            if num%i == 0:
                return False
        return True

M, N = map(int, input().split())

for i in range(M, N+1):
    if sosu(i):
        print(i)

3 16
3
5
7
11
13

#5번

In [36]:
import math

# 소수의 집합을 구함
nums = {x for x in range(2, 246_913) if x == 2 or x % 2 ==1} # 문제에서 제시한 제한 범위
# nums = 2와 홀수로 이루어진 집합
for odd_num in range(3, int(math.sqrt(246_912))+1, 2):  # 3부터 최대값의 제곱근까지 홀수만
    nums -= {i for i in range(2 * odd_num, 246_913, odd_num) if i in nums}
    # 홀수의 배수로 이루어진 집합을 생성해서 빼줌

# 반복문 만들기
while True:
    n = int(input())
    if n == 0:
        break  # n == 0 이면 반복문을 끝냄
    sosu_list = [i for i in range(n+1, 2*n+1) if i in nums]
    # 소수 집합(nums)안에서 n보다 크고 2*n보다 작거나 같은 수의 리스트를 생성
    print(len(sosu_list))

1
1
104
19
10
4
13
3
100
21
0

#6번

In [37]:
nums = {x for x in range(2, 10_001) if x == 2 or x % 2 == 1}
for odd in range(3, 101, 2): 
    nums -= {i for i in range(2 * odd, 10_001, odd) if i in nums}
t = int(input())
for _ in range(t):
    even = int(input())
    half = even//2  
    for x in range(half, 1, -1): 
        if (even-x in nums) and (x in nums):  
            print(x, even-x)  
            break

3
8
3 5
10
5 5
16
5 11

#7번

In [38]:
x, y, w, h = map(int, input().split())
print(min(x, w-x, y, h-y))

6 2 10 3
1

#8번

In [39]:
x1, y1 = map(int, input().split())
x2, y2 = map(int, input().split())
x3, y3 = map(int, input().split())

if x1 == x2:
    x4 = x3
elif x1 == x3:
    x4 = x2
else:
    x4 = x1

if y1 == y2:
    y4 = y3
elif y1 == y3:
    y4 = y2
else:
    y4 = y1

print(x4, y4)

5 5
7 7
7 5
5 7

In [40]:
x_nums = []
y_nums = []
for _ in range(3):
    x, y = map(int, input().split())
    x_nums.append(x)
    y_nums.append(y)

for i in range(3):
    if x_nums.count(x_nums[i]) == 1:
        x4 = x_nums[i]
    if y_nums.count(y_nums[i]) == 1:
        y4 = y_nums[i]
print(x4, y4)

5 5
7 7
7 5
5 7

#9번

In [57]:
while True:
  number = list(map(int, input().split()))
  if number[0]==0 and number[1]==0 and number[2]==0:
    break
  max_number = max(number)
  number.remove(max(number))
  if number[0]**2 + number[1]**2 == max_number**2:
        print('right')
  else:
    print('wrong')

6 8 10
right
25 52 6
wrong
0 0 0

#10번

In [60]:
r = int(input())
print(f'{r*r*3.14159265358979323:.6f}') #유클리드 공식 : 원주율 * 반지름 * 반지름
print(f'{2*r*r:.6f}') #택시기하학 공식 : 2 * 반지름 * 반지름

1
3.141593
2.000000

#11번

In [ ]:
test_case = int(input())
for _ in range(len(test_case)):
  position = list(map(int, input().input()))