<a href="https://colab.research.google.com/github/Sonhyungmin/itda_study1/blob/main/%EB%B0%B1%EC%A4%80_7%EB%8B%A8%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1번

In [ ]:
a = input()
print(ord(a)) # ord()는 문자열을 아스키코드로 반환할 수 있는 함수

a
97

# 2번

In [ ]:
N = int(input())
num =  int(input())
new_num = 0
for i in map(int, str(num)): # map은 리스트의 요소를 지정된 함수로 처리해주는 함수입니다(map은 원본 리스트를 변경하지 않고 새 리스트를 생성).
  new_num += i

print(new_num)

5
98765
35

# 3번

In [ ]:
S = input()
A = [a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z]
position = ''
for i in range(26):
  if A[i] in S:
    position += str(i)
  else:
    position += '-1'
print(position, end='')
  
# 비효율적인 코드긴 한데 저렇게 하면 안되는 이유가 뭐징

ni

NameError: ignored

In [ ]:
S = input()
A = list(range(97, 123)) # 아스키코드 97번부터 122까지가 알파벳 a~z이기 때문에 알파벳 값을 리스트에 저장
for i in A: 
  print(S.find(chr(i)), end=' ') 
  # find()함수는 찾는 문자가 없는 경우에 -1을 출력
  # chr()함수는 아스키코드를 문자열로 변환하는 함수 ()안에 숫자를 넣으면 그 숫자의 아스키코드에 대응하는 문잔 반환
  # end = ' '로 열을 행으로 출력하게 하고 공백 한 칸 출력

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

# 4번

In [72]:
N = int(input())

for _ in range(N):
    count, word = input().split()
    for x in word:
        print(x*int(count), end='')  
    print()  # 줄넘김

2
3 ABC
AAABBBCCC
5 /HTTp
/////HHHHHTTTTTTTTTTppppp

# 5번

In [18]:
word =input()
new_wd = word.upper() # 모든 문자를 대문자 알파벳으로 변환 .upper() : 알파벳 대문자로 / .lower(): 알파벳 소문자로
alphabet = ''
count = 0
a = list(range(65, 91)) # 아스크코드에서 대문자에 해당하는 수를 리스트로 저장
for i in a:
  if int(new_wd.count(chr(i))) > count: 
    alphabet = chr(i)
    count = int(new_wd.count(chr(i)))
  elif int(new_wd.count(chr(i))) == count:
    alphabet = '?'
print(alphabet)

ZZxZzbbNN
Z

# 6번

In [35]:
sen = input()
new = sen.split() # 공백을 기준으로 문자열 나눠서 리스트에 저장
print(len(new))

the one
2

# 7번

In [50]:
a, b = input().split()
re_a = a[::-1] #문자열 슬라이싱을 이용해 역순으로 저장
re_b = b[::-1]
num =''
if int(re_a) > int(re_b):
  print(re_a)
else:
  print(re_b)

123 456
654

# 8번

In [65]:
dial = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']
sen = input()
sec = 0

for i in range(len(sen)):
    for j in dial:
        if sen[i] in j:
            sec += dial.index(j) + 3 #ndex(x) 함수는 리스트에 x 값이 있으면 x의 위치 값을 돌려줌

print(sec)

WA
13

# 9번

In [69]:
croatia = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']
word = input()

for i in croatia :
    word = word.replace(i, '*')  # input 변수와 동일한 이름의 변수
#replace는 문자열을 변경하는 함수이다. 문자열 안에서 특정 문자를 새로운 문자로 변경하는 기능을 가지고 있다. 사용 방법은 '변수. replace(old, new, [count])' 형식으로 사용
#old : 현재 문자열에서 변경하고 싶은 문자
#new: 새로 바꿀 문자
#count: 변경할 횟수. 횟수는 입력하지 않으면 old의 문자열 전체를 변경한다. 기본값은 전체를 의미하는 count=-1로 지정되어있음
print(len(word))

ddz=z=
3

# 10번

In [70]:
n = int(input())

group_word = 0
for _ in range(n):
    word = input()
    error = 0
    for index in range(len(word)-1):  # 인덱스 범위 생성 : 0부터 단어개수 -1까지 
        if word[index] != word[index+1]:  # 연달은 두 문자가 다른 때,
            new_word = word[index+1:]  # 현재글자 이후 문자열을 새로운 단어로 생성
            if new_word.count(word[index]) > 0:  # 남은 문자열에서 현재글자가 있있다면
                error += 1  # error에 1씩 증가.
    if error == 0:  
        group_word += 1  # error가 0이면 그룹단어
print(group_word)

3
gappy
new
year
3