<a href="https://colab.research.google.com/github/Sonhyungmin/itda_study1/blob/main/%EC%9E%87%EB%8B%A4_%ED%8C%8C%EC%9D%B4%EC%8D%AC100%EC%A0%9C_51~70%EB%B2%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#51번

In [ ]:
#병합 정렬
def 병합정렬(입력리스트):
    입력리스트길이 = len(입력리스트)
    if 입력리스트길이 <= 1:
        return 입력리스트
    중간값 = 입력리스트길이 // 2
    그룹_하나 = 병합정렬(입력리스트[:중간값])
    그룹_둘 = 병합정렬(입력리스트[중간값:])
    결과값 = []

    while 그룹_하나 and 그룹_둘 :
        if 그룹_하나[0]<그룹_둘[0]:
            결과값.append(그룹_하나.pop(0))
        else:
            결과값.append(그룹_둘.pop(0))

    while 그룹_하나:
        결과값.append(그룹_하나.pop(0))
    while 그룹_둘:
        결과값.append(그룹_둘.pop(0))
    return 결과값

주어진리스트 = input().split()
주어진리스트 = [int(i) for i in 주어진리스트]

print(병합정렬(주어진리스트))

11 48 2 14 59 3 69 54
[2, 3, 11, 14, 48, 54, 59, 69]

#52번

In [ ]:
def 퀵정렬(입력리스트):
    입력리스트의길이 = len(입력리스트)
    if 입력리스트의길이 <= 1:
        return 입력리스트
    기준값 = 입력리스트.pop(입력리스트의길이//2)
    그룹_하나 = []
    그룹_둘 = []
    
    for i in range(입력리스트의길이-1):
        if 입력리스트[i] < 기준값:
            그룹_하나.append(입력리스트[i])
        else:
            그룹_둘.append(입력리스트[i])
    return 퀵정렬(그룹_하나) + [기준값] + 퀵정렬(그룹_둘)

주어진리스트 = input().split()
주어진리스트 = [int(i) for i in 주어진리스트]

print(퀵정렬(주어진리스트))

51 2 13 10 4
[2, 4, 10, 13, 51]

#53번

NO

#54번

In [ ]:
inputList = list(map(int, input().split()))
count = 0
sortList = sorted(inputList)

for i in range(len(sortList)-1) :
    if 1 == abs(sortList[i]-sortList[i+1]) :
        count+=1
        continue
    else :
        count = 0
        print('NO')
        break


if count > 0 :
    print('YES')

1 4 2 6 3
NO

#55번

In [ ]:
원판의이동경로 = []
def 하노이(원반의수, 시작기둥, 목표기둥, 보조기둥):
    #원판이 한개일 때에는 옮기면 됩니다.
    if 원반의수 == 1:
        원판의이동경로.append([시작기둥, 목표기둥]) 
        return None
    #원반의 n-1개를 경유기둥으로 옮기고
    하노이(원반의수 - 1, 시작기둥, 보조기둥, 목표기둥)
    #가장 큰 원반은 목표기둥으로
    원판의이동경로.append([시작기둥, 목표기둥]) 
    #경유기둥과 시작기둥을 바꿉니다!
    하노이(원반의수-1, 보조기둥, 목표기둥, 시작기둥)

user_input = int(input())
하노이(user_input,'A','C','B')

print(len(원판의이동경로))

7
127

#56번

In [ ]:
nationWidth = {
	'korea': 220877, 
	'Rusia': 17098242, 
	'China': 9596961, 
	'France': 543965, 
	'Japan': 377915,
	'England' : 242900,
}

p = nationWidth['korea']
nationWidth.pop('korea')
nation = list(nationWidth.items())
num = max(nationWidth.values())
main = []

for i in nation:
    if num > abs(i[1] - w):
        num = abs(i[1] - w)
        main = i
print(main[0],main[1]-220877)

England 22023

#57번

In [ ]:
n = 0  # 1의 개수를 저장할 변수인 n을 0으로 정의하기
for i in range(1001): # 0부터 1000까지 1의 개수를 세야하는 프로그램이므로 반복문 사용
    n = n + str(i).count('1') #1의 개수를 세야하므로 .count()함수 사용
    
print(n)

301

#58번

In [ ]:
num = int(input("숫자를 입력하세요: "))
print('{:,}'.format(num))

숫자를 입력하세요: 185771
185,771

#59번

In [ ]:
print('{0:=^50s}'.format(input())) ## 50자리를 확보하고 입력받은 문자열을 가운데정렬

hi
========================hi========================

#60번

In [ ]:
student = ['강은지','김유정','박현서','최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']
student.sort()
for i, student in enumerate(student): ##enumerate()함수를 사용하여 반복문 사용 시 몇 번째 반복문인지 확인 
  print("번호: {}, 이름: {}".format(i+1, student))

번호: 1, 이름: 강은지
번호: 2, 이름: 강채연
번호: 3, 이름: 권윤일
번호: 4, 이름: 김민호
번호: 5, 이름: 김유정
번호: 6, 이름: 김진이
번호: 7, 이름: 김채리
번호: 8, 이름: 박지호
번호: 9, 이름: 박현서
번호: 10, 이름: 최성훈
번호: 11, 이름: 한지호
번호: 12, 이름: 홍유진

#61번

In [ ]:
sentence = input() ## 문자열 입력받기
result = sentence[0] ## result에 0번째 문자를 저장함
count = 0 

for st in sentence:
  if st == result[-1]:
    count += 1

  else:
    result += str(count) + st
    count = 1
result += str(count)
print(result)

asdddaa
a1s1d3a2

#62번

In [ ]:
n = 'aadfffffffffhhhhhhhhhjjkkk'
a = n.count('a')
s = n.count('s')
d = n.count('d')
f = n.count('f')
g = n.count('g')
h = n.count('h')
j = n.count('j')
k = n.count('k')
print(str(int(a))+str(int(s))+str(int(d))+str(int(f))+str(int(g))+str(int(h))+str(int(j))+str(int(k)))

20190923

#63번

In [ ]:
a =input().split()
n =''
for i in a:
  n += i[0]
print(n)

복잡한 세상
복세

#64번

In [ ]:
N = int(input())
result = 0

while True: ## while True 딱히 조건 없이 계속 참이라는 뜻
    if N%7 ==0:
        result += N//7
        print(result)
        break
    N -= 3
    result += 1
    if N < 0:
        print(-1)
        break

24
4

#65번

In [ ]:
a = input().split()
b = input().split()
c = []
count = 0

for i in range(len(a)):
  if i % 2 == 0:
    c.append([a[i], b[i]])
  else:
    c.append([b[i], a[i]])

print(c)

1 2 3 4
q w e r
[['1', 'q'], ['w', '2'], ['3', 'e'], ['r', '4']]

#66번

In [ ]:
탑 = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG"]
규칙 = "ABD"

def x(탑, 규칙):

#67번

In [ ]:
n= 59
count = 0
p = 0
answer = []
while True :
    a = p* (p+1) // 2
    p+=1
    if n< a :
        break
        
count = n - (p-2)*(p-1)//2
print(count,p)

4 12

#68번

#69번

#70번